@page "/servers"
<!-- this page directive is what makes the component routable -->

<h3>Servers</h3>

<br>

<div class="container-fluid text-center">
    <div class="row w-50">
        @foreach(var city in cities)
        {
            <div class="col">
                <div class="card">
                    <img src="@($"/images/{city}.png")" class="card-img-top" alt="@city">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary">@city</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br>

<ul>
    @foreach(var server in servers)
    {
        <li >
            <span style="color:@(server.IsOnline ? "green" : "red");">
                Server @server.Name (@server.Id) is @server.GetStatusString() at @server.City | @DateTime.Now.
            </span>
            &nbsp;
            <a href="/servers/edit/@server.Id" class="btn btn-link">Edit</a>
        </li>
    }
</ul>
<p>
    <a href="/servers/add" class="btn btn-primary">Add server</a>
</p>

@code {
    // state variables
    private List<Server> servers = ServersRepository.GetServersByCity("Toronto");
    private List<string> cities = CityRepository.GetAll();
}