@page "/servers"
<!-- this page directive is what makes the component routable -->

<h3>Servers</h3>
<br>

@foreach(var city in CityRepository.GetAll())
{
    <button>@city</button>
}

<ul>
    @foreach(var server in ServersRepository.GetServers())
    {
        <li style="color:@(server.IsOnline ? "green" : "red");">
            Server @server.Name (@server.Id) is @server.GetStatusString() at @server.City | @DateTime.Now.
        </li>
    }
</ul>

@code {
    
}