<!-- this is as example of a non-routable component - not page directive -->
<p>Server @server.Name (@server.Id) is @server.GetStatusString() at @server.City | @DateTime.Now.</p>

@code {
    private Server server = new Server()
    {
        Id = 1,
        Name = "Server1",
        City = "New York"
    };
}
